{
  "log": {
    "_recordingName": "fetch-workflow",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e5a7e1d6bb9142cb6efea4d128c697bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://creativice.semaphoreci.com/api/v1alpha/projects"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 1401,
            "text": "[{\"spec\":{\"visibility\":\"private\",\"schedulers\":[],\"repository\":{\"whitelist\":{\"tags\":[],\"branches\":[]},\"url\":\"git@github.com:RPGPH/semaphore-demo-javascript.git\",\"status\":{\"pipeline_files\":[{\"path\":\".semaphore/semaphore.yml\",\"level\":\"pipeline\"}]},\"run_on\":[\"tags\",\"branches\"],\"pipeline_file\":\".semaphore/semaphore.yml\",\"owner\":\"RPGPH\",\"name\":\"semaphore-demo-javascript\",\"integration_type\":\"github_token\",\"forked_pull_requests\":{\"allowed_secrets\":[]}}},\"metadata\":{\"owner_id\":\"6816b23e-b489-4d76-ad02-324b0622036e\",\"org_id\":\"f673ebca-3e45-4cc1-80b5-4ad69d1a03c4\",\"name\":\"semaphore-demo-javascript\",\"id\":\"b93b5dc4-3d95-425c-9b98-478cd464befd\",\"description\":\"\"},\"kind\":\"Project\",\"apiVersion\":\"v1alpha\"},{\"spec\":{\"visibility\":\"private\",\"schedulers\":[],\"repository\":{\"whitelist\":{\"tags\":[],\"branches\":[]},\"url\":\"git@github.com:RPGPH/semaphore-demo-react-native.git\",\"status\":{\"pipeline_files\":[{\"path\":\".semaphore/semaphore.yml\",\"level\":\"pipeline\"}]},\"run_on\":[\"tags\",\"branches\"],\"pipeline_file\":\".semaphore/semaphore.yml\",\"owner\":\"RPGPH\",\"name\":\"semaphore-demo-react-native\",\"integration_type\":\"github_token\",\"forked_pull_requests\":{\"allowed_secrets\":[]}}},\"metadata\":{\"owner_id\":\"6816b23e-b489-4d76-ad02-324b0622036e\",\"org_id\":\"f673ebca-3e45-4cc1-80b5-4ad69d1a03c4\",\"name\":\"semaphore-demo-react-native\",\"id\":\"92e08249-7e69-479f-baae-3da53ef7fe7f\",\"description\":\"\"},\"kind\":\"Project\",\"apiVersion\":\"v1alpha\"}]"
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1608,
      },
      {
        "_id": "5393d53e42e29a66f5eefa014713b21b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "project_id",
              "value": "b93b5dc4-3d95-425c-9b98-478cd464befd"
            }
          ],
          "url": "https://creativice.semaphoreci.com/api/v1alpha/plumber-workflows?project_id=b93b5dc4-3d95-425c-9b98-478cd464befd"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 482,
            "text": "[{\"wf_id\":\"1fceeb25-b4fa-4707-95d0-4c6043bb591f\",\"triggered_by\":2,\"rerun_of\":\"\",\"requester_id\":\"6816b23e-b489-4d76-ad02-324b0622036e\",\"project_id\":\"b93b5dc4-3d95-425c-9b98-478cd464befd\",\"initial_ppl_id\":\"478a6197-fd96-4f9f-8563-0a21cbadf6dd\",\"hook_id\":\"69c552d5-1e5e-4a72-9275-4721d79b6da9\",\"created_at\":{\"seconds\":1652074322,\"nanos\":705598000},\"commit_sha\":\"faa4eb5f4158fd9cb46a5349d9f4defe0b1c761d\",\"branch_name\":\"fork-and-run\",\"branch_id\":\"6dd526cb-e02a-4b37-a4b5-18f8a5c8a2b9\"}]"
          },
          "headers": [
            {
              "name": "link",
              "value": "<http://creativice.semaphoreci.com/api/v1alpha/plumber-workflows?page=1&project_id=b93b5dc4-3d95-425c-9b98-478cd464befd>; rel=\"first\", <http://creativice.semaphoreci.com/api/v1alpha/plumber-workflows?page=1&project_id=b93b5dc4-3d95-425c-9b98-478cd464befd>; rel=\"last\""
            },
            {
              "name": "page-number",
             [...]
