{
  "log": {
    "_recordingName": "fetch-project",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e5a7e1d6bb9142cb6efea4d128c697bd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://creativice.semaphoreci.com/api/v1alpha/projects"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 1401,
            "text": "[{\"spec\":{\"visibility\":\"private\",\"schedulers\":[],\"repository\":{\"whitelist\":{\"tags\":[],\"branches\":[]},\"url\":\"git@github.com:RPGPH/semaphore-demo-javascript.git\",\"status\":{\"pipeline_files\":[{\"path\":\".semaphore/semaphore.yml\",\"level\":\"pipeline\"}]},\"run_on\":[\"tags\",\"branches\"],\"pipeline_file\":\".semaphore/semaphore.yml\",\"owner\":\"RPGPH\",\"name\":\"semaphore-demo-javascript\",\"integration_type\":\"github_token\",\"forked_pull_requests\":{\"allowed_secrets\":[]}}},\"metadata\":{\"owner_id\":\"6816b23e-b489-4d76-ad02-324b0622036e\",\"org_id\":\"f673ebca-3e45-4cc1-80b5-4ad69d1a03c4\",\"name\":\"semaphore-demo-javascript\",\"id\":\"b93b5dc4-3d95-425c-9b98-478cd464befd\",\"description\":\"\"},\"kind\":\"Project\",\"apiVersion\":\"v1alpha\"},{\"spec\":{\"visibility\":\"private\",\"schedulers\":[],\"repository\":{\"whitelist\":{\"tags\":[],\"branches\":[]},\"url\":\"git@github.com:RPGPH/semaphore-demo-react-native.git\",\"status\":{\"pipeline_files\":[{\"path\":\".semaphore/semaphore.yml\",\"level\":\"pipeline\"}]},\"run_on\":[\"tags\",\"branches\"],\"pipeline_file\":\".semaphore/semaphore.yml\",\"owner\":\"RPGPH\",\"name\":\"semaphore-demo-react-native\",\"integration_type\":\"github_token\",\"forked_pull_requests\":{\"allowed_secrets\":[]}}},\"metadata\":{\"owner_id\":\"6816b23e-b489-4d76-ad02-324b0622036e\",\"org_id\":\"f673ebca-3e45-4cc1-80b5-4ad69d1a03c4\",\"name\":\"semaphore-demo-react-native\",\"id\":\"92e08249-7e69-479f-baae-3da53ef7fe7f\",\"description\":\"\"},\"kind\":\"Project\",\"apiVersion\":\"v1alpha\"}]"
          },
          "headers": [
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2045,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
